@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 * {
    text-decoration: none;
    color: black;
    font-family: 'poppins';
 }

 body {
    margin: 0;
    padding: 0;
 }

 nav { /* flex container */
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
 }
 nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 nav ul li {
    margin-right: 50PX;
    font-size: 20px;
 }

 nav ul li .active {
    color: black;
    font-weight: bold;
 }

 nav ul li img {
    margin-left: 50px;
 }

 .nav-left {/*flex item*/
    flex: 50%;
 }

 .nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
 }

 .nav-right a {
    background-color: black;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
 }

 .nav1 a {
    font-weight: bold;
 }

 .blog-form {
   padding: 50px 0;
   display: flex;
   justify-content: center;
 }

 .blog-form .form-container {
   width: 500px;
 }

 .blog-form .form-container h1 {
   text-align: center;
   margin-bottom: 40px;
   font-family: arial;
 }

 .blog-form label {
   font-size: 20px;
   font-weight: 400;
 }

 .blog-form form input, textarea {
   width: 100%;
   font-size: 20px;
   font-weight: 400;
   padding: 2px;
   margin-top: 5px;
   margin-bottom: 20px;
   background: #f4f3f3;
   border: 1px solid #c4c4c4;
   border-radius: 8px;
   resize: none;
 }
 .blog-form textarea {
   height: 100px;
 }

 .date {
   display: flex;
 }

 .date-left {
   flex: 50%;
 }

 .date-right {
   flex: 50%;
   margin-left: 20px;
 }

 .techno-container {
   width: 75%;
   padding: 20px;
 }
 
 .checkbox-grup {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 
 .checkbox-atas,
 .checkbox-bawah {
   display: flex;
   gap: 10px;
 }
 
 .checkbox-atas div,
 .checkbox-bawah div {
   display: flex;
   align-items: center;
   gap: 5px;
 }
 
 input[type="checkbox"] {
   margin: 0;
 }
 
 label {
   font-size: 15px;
   cursor: pointer; 
   display: inline-flex;
   align-items: center;
 }

 .blog-form form .input-image {
   width: 100%;
   height: 7%;
   margin-top: 5px;
   margin-bottom: 20px;
   background: #f4f3f3;
   border: 1px solid #c4c4c4;
   border-radius: 8px;
   cursor: pointer;
   
 }

 .blog-form form .input-image label p {
   width: 15%;
   height: 15%;
   font-size: 15px;
 }

 .blog-form form .input-image label {
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: space-between;
   padding: -100px;
 }

 button {
   background-color: black;
   color: white;
   padding: 6px 25px;
   border: none;
   border-radius: 20px;
   cursor: default;
   align-items: end;
 }

 .blog hr {
   border: 1px solid #dbdbdb;
   box-shadow: 15px;
 }

 .blog .head {
   text-align: center;
   margin-top: 50px;
 }

 /*blog list*/

 .blog .blog-list {
   margin-top: 80px;
   margin-bottom: 80px;
   display: flex;
   flex-wrap: wrap;
   margin: 100px;
 }

 .blog .blog-list .blog-list-items {
   width: 25%;
   padding: 15px;
   margin-bottom: 20px;
   border: 0px solid #dbdbdb;
   border-radius: 8px;
   box-shadow: 0px 0px 15px #cecece;
   display: flex;
   flex-direction: column;
   margin-left: 50px;
   margin-top: 30px;
 }

 .blog .blog-list .blog-list-items .blog-image {
   flex: 1;
 }

 .blog .blog-list .blog-list-items .blog-image img {
   width: 100%;
   height: 225px;
   border-radius: 15px;
   object-fit: cover;
 }

 .blog .blog-list .blog-list-items .blog-content {
   flex: 2;
 }

 .blog .blog-list .icon i {
   font-size: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
 }

 .blog .blog-list .btn-grup {
   text-align: center;
   display: flex;
 }

 .blog .blog-list .btn-grup button {
   width: 100%;
   border-radius: 8px;
   margin-right: 10px;
   background: rgb(58, 57, 57);
 }

 .blog .blog-list h3 a {
   text-decoration: none;
   color: #000;
 }

 .blog .blog-list .detail-blog-content {
   font-weight: 300;
   font-size: 13px;
   line-height: 20px;
 }

 .blog .blog-list .blog-list-items p {
   font-weight: normal;
   font-size: 15px;
 }

 /*blog detail*/

 .blog-detail {
   display: flex;
   justify-content: center;
 }

 .blog-detail-container {
   width: 80%;
   justify-content: center;
 }

 .blog-detail h1 {
   text-align: center;
   font-family: arial;
 }

 .blog-detail-img {
   display: flex;
   width: 80%;
   justify-content: center;
 }

 section {
   width: 100%;
   display: flex;
   margin: 15px;
   justify-content: center;
 }

 .blog-detail-img img {
   width: 100%;
 }

 .blog-detail-lift {
   flex: 60%;
   margin-left: 100px;
 }

 .blog-detail-right {
   flex: 40%;
   margin-left: 50px;
 }

 .blog-detail-techno div {
   display: flex;
   margin: 15px;
 }
 .blog-detail-techno div p {
   margin-top: -2px;
   margin-left: 5px;
   margin-right: 10px;
 }

 .blog-detail-techno div i {
   font-size: 20px;
 }

 .blog-detail-right .blog-detail-calender {
   display: flex;
 }

 .blog-detail-right .blog-detail-calender p {
   margin-top: -2;
   margin-left: 5px;
   margin-right: 10px;
 }

 .blog-detail-jam i {
   font-size: 20px;
 }

 .blog-detail-jam p {
   margin-top: -20px;
   margin-left: 25px;
   margin-right: 10px;
 }

 .paragraf {
   margin: 75px;
   margin-top: 20px;
 }

 .paragraf p {
   font-size: 15px;
 }

 #barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 10px;
  list-style-type: none;
  background-color: lightgray;
  padding: 10px;
  display: none;
}

.hamburger-nav-container a {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.hamburger-nav-container .hamburger-active {
  background-color: black;
  color: white;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .blog .blog-list .blog-list-items {
    width: 35%;
    margin-left: 1px;
    margin: 20px;
    padding: 10px;
  }

  .blog .head {
    font-size: 25px;
  }

  .blog .blog-list .blog-list-items .blog-image img {
    height: 150px;
  }

  .blog .blog-list .icon i {
    font-size: 15px;
    margin-right: 10px;
  }

  .blog .blog-list {
    margin: 1px;
  }

  .blog .blog-list .btn-grup button {
    width: 100%;
    margin-right: 5px;
  }

  .blog .blog-list h3 a {
    font-size: 12px;
  }

  .blog .blog-list .blog-list-items p {
    font-size: 10px;
  }

  .blog .blog-list .detail-blog-content {
    font-size: 10px;
  }

  .blog .blog-list .btn-grup button {
    margin-right: -20px;
    margin-right: 2px;
    width: 70px;
    padding: 3px;
  }

  .blog-form .form-container {
    width: 85%;
  }

  .date-right {
    margin-left: 5px;
    width: 50%;
  }

  .date-left {
    width: 50%;
  }

  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }

  nav {
    width: 100%;
  }
}