@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 * {
    text-decoration: none;
    color: black;
    font-family: 'poppins';
 }

 body {
    margin: 0;
    padding: 0;
 }

 nav { /* flex container */
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
 }

 nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 nav ul li {
    margin-right: 50PX;
    font-size: 20px;
 }

 nav ul li .active {
    color: black;
    font-weight: bold;
 }

 nav ul li img {
    margin-left: 50px;
 }

 .nav-left {/*flex item*/
    flex: 50%;
 }

 .nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
 }

 .nav-right a {
    background-color: black;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
 }

 .nav1 a {
    font-weight: bold;
 }

h2 {
    font-family: arial;
    text-align: center;
}

form {
    width: 350px;
    margin: 30px auto;
    padding: 10px;
}

form div {
    margin-top: 15px;
}

label {
    font-weight: bold;
}
input, select ,textarea {
    background-color: #dfdede;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    resize: none;
}

button {
    background-color: black;
    color: white;
    padding: 6px 25px;
    border: none;
    border-radius: 20px;
    cursor: default;
    align-items: end;
}

form .active {
    padding-left: 75%;
    margin-top: 25px;
}

#barsmenu {
   display: none;
 }
 
 .hamburger-nav-container {
   font-size: 10px;
   list-style-type: none;
   background-color: lightgray;
   padding: 10px;
   display: none;
 }
 
 .hamburger-nav-container a {
   justify-content: center;
   align-items: center;
   display: flex;
   padding: 10px;
 }
 
 .hamburger-nav-container .hamburger-active {
   background-color: black;
   color: white;
   margin-left: 90px;
   margin-right: 90px;
   border-radius: 10px;
 }
 
 @media only screen and (max-width: 900px) {
   .item-collapse {
      display: none;
    }
  
    #barsmenu {
      display: block;
    }
  
    nav {
      width: 100%;
    }
 }