 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 * {
    text-decoration: none;
    color: black;
    font-family: 'poppins';
 }

 body {
    margin: 0;
    padding: 0;
 }

 nav { /* flex container */
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
 }

 nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 nav ul li {
    margin-right: 50PX;
    font-size: 20px;
 }

 nav ul li .active {
    color: black;
    font-weight: bold;
    font-family: arial;
 }

 nav ul li img {
    margin-left: 50px;
 }

 .nav-left {/*flex item*/
    flex: 50%;
 }

 .nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
 }

 .nav-right a {
    background-color: black;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
 }

 .nav1 a {
    font-weight: bold;
 }

 .container {
   display: flex;
   justify-content: center;
   margin: 90px auto;
   align-items: center;
   height: 300px;
   border: none solid; 
   border-radius: 10px 10px;
   box-shadow: 0 0 15px #cecece;
   width: 1000px;
   padding: 100px;
}

section {
   display: flex;
   width: 80%;
   text-align: center;
   padding: 100px;
   justify-content: center;
}

.left {
   flex: 70%;
}

.left .lorem p {
   text-align: justify;
}

.right {
   flex: 30%;
   margin-left: 50px;
}

section div table {
   width: 800px;
   text-align: center;
   
}

#barsmenu {
   display: none;
}

.hamburger-nav-container {
   font-size: 10px;
   list-style-type: none;
   background-color: lightgray;
   padding: 10px;
   display: none;
}

.hamburger-nav-container a {
   justify-content: center;
   align-items: center;
   display: flex;
   padding: 10px;
}

.hamburger-nav-container .hamburger-active {
   background-color: black;
   color: white;
   margin-left: 90px;
   margin-right: 90px;
   border-radius: 10px;
}


@media only screen and (max-width: 900px) {
   .container {
      width: 35%;
      height: 800px;
   }

   .left {
      flex: 100%;
      display: flex;
      justify-content: center;
      width: 100%;
   }

   .left h2 {
      font-size: 20px;
   }

   .image {
      margin-bottom: 40px;
   }

   .right {
      margin-right: 50px;
   }

   section {
      flex-direction: column;
      align-items: center;
   }

   .item-collapse {
      display: none;
   }

   #barsmenu {
      display: block;
   }

   nav {
      width: 100%;
   }
}


 
 


